@use 'variable';

$color-black: variable.$color-black;
$color-white: variable.$color-white;
$color-dark: variable.$color-dark;
$color-light: variable.$color-light;
$color-info: variable.$color-info;
$color-danger: variable.$color-danger;

$color: (
    'black': #{ $color-black },
    'dark': #{ $color-dark },
    'white': #{ $color-white },
    'light': #{ $color-light },
    'danger': #{ $color-danger },
    'info': #{ $color-info },
);

@each $key, $value in $color {
    .bg-#{$key} {
        background-color: $value !important; 
    };
    .border-#{$key} {
        border-color: $value !important; 
    };
    .text-#{$key} {
        color: $value !important;
    };
};