@use 'variable';

$color: variable.$color;

@each $key, $value in $color {
    .bg-#{$key} {
        background-color: $value !important; 
    };
    .border-#{$key} {
        border-color: $value !important; 
    };
    .text-#{$key} {
        color: $value !important;
    };
};