@use 'sass:color';
@use 'sass:list';
@use 'variable';

$palette: variable.$palette;

@each $key, $value in $palette {
  $array: ();
  @for $i from 1 through 100 {
    $array: list.append($array, color.mix($value, white, $i * 1%));
  };
  @for $i from 1 through 100 {
    $array: list.append($array, color.mix(black, $value, $i * 1%));
  };
  $i: 1;
  @each $color in $array {
    .color-#{$key}-#{$i} {
      background-color: $color;
    };
    $i: $i + 1;
  };
};