@use 'variable';

$dimension: variable.$dimension;

@each $key, $value in $dimension {
    @for $i from 320 through 640 {
        @media (min-width: $value) {
            .height-absolute-#{$key}-#{$i} {
                height: #{$i}px !important;
            };
        };
    };
    @for $i from 25 through 100 {
        @media (min-width: $value) {
            .height-relative-#{$key}-#{$i} {
                height: #{$i * 1%} !important;
            };
        };
    };
};

@for $i from 320 through 640 {
    .height-absolute-#{$i} {
        height: #{$i}px;
    };
};

@for $i from 25 through 100 {
    .height-relative-#{$i} {
        height: #{$i * 1%};
    };
};